version: '3'

services:
  application:
    container_name: emergenciasapp
    restart: always
    build: .
    ports:
      - "8080:8080"
    links:
      - mongo
  mongo:
    container_name: database
    image: mongo
    ports:
      - "27018:27017"